
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3



.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.Python build/ 
MANIFEST

*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt


*.mo

.python-version 

__pypackages__/

*.sage.py

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/site 


.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.pytype/

cython_debug/

